.edp-wrapper .nav-tab-wrapper {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

.edp-wrapper .nav-tab {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #007cba;
    border: 1px solid transparent;
    border-bottom: none;
    cursor: pointer;
}

.edp-wrapper .nav-tab:hover {
    background-color: #f1f1f1;
}

.edp-wrapper .nav-tab-active {
    background-color: #fff;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

/* Tab Content */
.edp-wrapper .tab-content {
    border: 1px solid #ccc;
    padding: 20px;
    background: #fff;
}

.edp-wrapper .tab-panel {
    display: none; /* Hide inactive panels */
}

.edp-wrapper .tab-panel-active {
    display: block; /* Show active panel */
}

.edp-wrapper .edp-main-tab-content .form-table input[type="text"],
.edp-wrapper .edp-main-tab-content .form-table input[type="password"],
.edp-wrapper .edp-main-tab-content .form-table input[type="number"],
.edp-wrapper .edp-main-tab-content .form-table input[type="url"],
.edp-wrapper .edp-main-tab-content .form-table input[type="tel"],
.edp-wrapper .edp-main-tab-content .form-table input[type="email"] {
    width: 100%;
    padding: 4px 12px;
}