.edp-admin-modal {
    border-radius: 3px;
    background: #fff;
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    display: none;
    z-index: 10001;
    box-sizing: border-box;
    width: 730px;
    margin-left: -365px;
}
.edp-admin-modal.normal {
    width: 730px;
    margin-left: -365px;
    margin-top: -274.805px;
    display: block;
}
.edp-admin-modal-head {
    padding: 4px 20px;
    background: #0085ba;
    position: relative;
    border-radius: 3px 3px 0 0;
}
.edp-admin-modal h3 {
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #fff;
}
.edp-admin-modal-close {
    position: absolute;
    color: #fff !important;
    right: 16px;
    top: 14px;
    font-size: 22px;
    text-decoration: none;
    opacity: .4;
}
.edp-admin-modal .edp-admin-modal-body {
    padding: 10px 20px 10px 20px;
    max-height: 500px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 18px;
}
.edp-admin-modal h4 {
    margin: 0 0 10px 0 !important;
}
.edp-admin-btns {
    line-height: 1.5em;
    margin: 0 0 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
}
.edp-admin-modal a.button {
    padding: 0 12px !important;
    vertical-align: middle !important;
}
.edp-admin-btns a {
    margin: 0 3px 8px 0 !important;
    font-size: 12px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    display: flex !important;
}
.edp-admin-overlay {
    background: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
}
.edp-admin-overlay.active {
    display: block;
}

.edp-admin-half {
    float: left;
    width: 48%;
}
.edp-admin-half.edp-admin-right {
    float: right;
}
.edp-admin-half {
    float: left;
    width: 48%;
}
.edp-admin-half p:first-child {
    margin-top: 0;
}
.edp-admin-modal p {
    font-size: 13px;
    color: #aaa;
}
.edp-admin-modal .edp-admin-modal-body.edp-admin-metabox label {
    margin: 0 !important;
}
.edp-admin-modal label {
    font-size: 13px;
    color: #aaa;
}
.edp-admin-metabox label {
    display: block;
    cursor: default;
    padding: 0 !important;
    font-size: 13px;
    color: #666;
}
.edp_tooltip.dashicons {
    height: 22px;
}
.edp_tooltip {
    cursor: pointer;
    vertical-align: middle;
}
.edp_tooltip.dashicons-editor-help:before {
    float: left;
    font-size: 20px;
    line-height: 20px;
    color: rgba(0, 0, 0, .85) !important;
}
.edp_tooltip.dashicons:before {
    height: 22px;
}
.edp-admin-metabox input[type=text] {
    height: auto !important;
    width: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box !important;
    font-size: 13px !important;
    line-height: 1.4em !important;
    padding: 4px 10px !important;
}
.edp-admin-modal input[type=color], 
.edp-admin-modal input[type=number], 
.edp-admin-modal input[type=date], 
.edp-admin-modal input[type=datetime-local], 
.edp-admin-modal input[type=datetime], 
.edp-admin-modal input[type=email], 
.edp-admin-modal input[type=month], 
.edp-admin-modal input[type=nedpber], 
.edp-admin-modal input[type=password], 
.edp-admin-modal input[type=search], 
.edp-admin-modal input[type=tel], 
.edp-admin-modal input[type=text], 
.edp-admin-modal input[type=time], 
.edp-admin-modal input[type=url], 
.edp-admin-modal input[type=week], 
.edp-admin-modal select, 
.edp-admin-modal textarea {
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
    width: 100%;
}
.edp-admin-modal input, .edp-admin-modal select {
    margin: 0 1px;
}
.edp-admin-tri {
    float: left;
    width: 33%;
    position: relative;
}
.edp-admin-tri {
    float: left;
    width: 33%;
    position: relative;
}
.edp-admin-btn-toggle {
    padding: 10px 0;
}
.edp-admin-btn-toggle a.active {
    color: #0085ba;
}

.edp-admin-btn-toggle a {
    text-decoration: none;
    color: #999;
}
.edp_tooltip.dashicons {
    height: 22px;
}
.edp_tooltip {
    cursor: pointer;
    vertical-align: middle;
}
.edp-admin-btn-content {
    /* display: none; */
    padding: 5px 0 0 0;
}
.edp-admin-cur-condition-template {
    /* display: none; */
}
.edp-admin-btn-content p.edp-admin-conditions-notice {
    width: 100%;
    margin: 0 0 9px 0 !important;
}
.edp-admin-btn-content p {
    float: left;
    margin-right: 10px !important;
    padding: 0 !important;
}
.edp-admin-btn-toggle p {
    margin: 0 5px 0 0 !important;
}
.edp-admin-btn-content p {
    float: left;
    margin-right: 10px !important;
    padding: 0 !important;
}
.edp-admin-btn-toggle p {
    margin: 0 5px 0 0 !important;
}
.edp-admin-btn-toggle a.edp-admin-new-condition {
    margin-bottom: 5px;
}
.edp-admin-modal a.button {
    padding: 0 12px !important;
    vertical-align: middle !important;
}
.edp-admin-modal a.button-primary {
    padding: 0 12px !important;
    vertical-align: middle !important;
}
.edp-admin-btn-content p {
    float: left;
    margin-right: 10px !important;
    padding: 0 !important;
}
.edp-admin-modal-foot {
    padding: 20px 0 !important;
    border-top: 1px solid #ddd;
    text-align: center;
    background: #eee;
    border-radius: 0 0 3px 3px;
}
.edp-admin-modal input[type=submit].button-primary {
    padding: 0 12px !important;
    vertical-align: middle !important;
    line-height: 24px !important;
}
.edp-admin-modal-foot a, .edp-admin-modal-foot input {
    margin: 0 10px !important;
    font-size: 14px !important;
}
.edp-admin-modal a.button {
    padding: 0 12px !important;
    vertical-align: middle !important;
}