.edp-member-metabox .edp-forms-line th {
    width: 33%;
}
.edp-admin-metabox .edp-forms-line label {
    display: block;
    cursor: default;
    font-size: 13px;
    color: #666;
    margin-bottom: 4px;
}
.edp-admin-metabox .edp-forms-line .edp-forms-field {
    width: 100%;
    padding: 4px 12px;
}
.edp_tooltip.dashicons {
    height: 22px;
}
.edp_tooltip {
    cursor: pointer;
    vertical-align: middle;
}
.edp-form-table .edp-forms-line[data-conditional] {
    display: none;
}

.edp-metabox-thickbox {
    background: transparent;
    border: transparent;
    color: #2271b1;
    cursor: pointer;
}