@import "modal.css";

/* Define variables for primary colors */
:root {
  --primary-color: #000;
  --primary-dark: #333;
  --gray-color: gray;
  --light-gray: lightgray;
  --background-light: #eceff1;
  --border-color: #ccc;
}

#edp-heading {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: normal;
}

.edp-form {
  text-align: center;
  position: relative;
  margin-top: 20px;
}

.edp-form .edp-fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative;
}

.edp-form-card {
  text-align: left;
}

.edp-form .edp-fieldset:not(:first-of-type) {
  display: none;
}

.edp-form .edp-input-field {
  width: 100%;
  height: 40px;
  padding: 8px 15px !important;
  border: 1px solid var(--border-color) !important;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: transparent !important;
  font-size: 16px;
  letter-spacing: 1px;
}

.edp-form .edp-input-field:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--primary-color);
  outline-width: 0;
}

.edp-step-buttons {
  text-align: left;
}
.edp-form .edp-action-btn {
  min-width: 100px;
  background: var(--primary-color);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 8px;
  margin: 10px 0px;
  float: right;
  position: relative;
}
.edp-form button[type="submit"]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.edp-form button[type="submit"]:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.edp-form button[type="submit"].edp-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.edp-form .edp-action-btn .ehx-btn-loader {
  display: none;
  border: 2px solid #fff;
  border-top: 2px solid #6a6a6a;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}
.edp-form button[type="submit"]:disabled .ehx-btn-loader {
  opacity: 0.8;
  cursor: progress;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.loading {
  background-color: #ccc;
  pointer-events: none;
}

.edp-form .edp-action-btn:hover,
.edp-form .edp-action-btn:focus {
  background-color: var(--primary-dark);
}

.edp-form .edp-action-btn-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

.edp-form .edp-action-btn-previous:hover,
.edp-form .edp-action-btn-previous:focus {
  background-color: #000000;
}

.edp-card {
  z-index: 0;
  border: none;
  position: relative;
}

.edp-fs-title {
  font-size: 24px;
  color: var(--primary-color);
  margin-bottom: 15px;
  font-weight: normal;
  text-align: left;
}

.purple-text {
  color: var(--primary-color);
  font-weight: normal;
}

.edp-steps {
  font-size: 24px;
  color: var(--gray-color);
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.edp-field-labels {
  color: var(--primary-color);
  text-align: left;
  font-weight: 500;
  margin-bottom: 4px;
  display: block;
}

.edp-progressbar {
  margin-bottom: 30px;
  margin-left: 0;
  overflow: hidden;
  color: lightgrey;
}

.edp-progressbar .edp-progress-active {
  color: var(--primary-color);
}

.edp-progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 50%;
  float: left;
  position: relative;
  font-weight: 400;
}
.edp-progressbar li:before {
  content: attr(data-step);
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: var(--light-gray);
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

.edp-progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: var(--light-gray);
  position: absolute;
  left: 0;
  top: 24px;
  z-index: -1;
}

.edp-progressbar li.edp-progress-active:before,
.edp-progressbar li.edp-progress-active:after {
  background: var(--primary-color);
}

.edp-plan-lists {
  margin-top: 12px;
}
.edp-plan-lists .edp-plan-list {
  width: 100%;
  border: 1px solid #bdbaba;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px 17px 13px;
  border-radius: 5px;
  transition: all .3s;
  cursor: pointer;
}
@media (min-width: 768px) {
  .edp-plan-lists .edp-plan-list {
    width: 70%;
  }
  .edp-plan-lists .edp-plan-list.edp-plan-list-custom-input {
    width: 40%;
  }
}
.edp-plan-lists .edp-plan-list.edp-plan-list-active,
.edp-plan-lists .edp-plan-list:hover {
  border-color: var(--border-color);
  background: #f1f1f1;
  box-shadow: 0 0 4px 2px var(--background-light);
  transform: translateX(5px);
}
.edp-plan-lists .edp-plan-list:not(:last-child) {
  margin-bottom: 20px;
}
.edp-plan-lists .edp-plan-list div {
  margin-right: 9px;
  white-space: nowrap;
}
.edp-plan-lists .edp-plan-list span {
  display: inline-block;
  vertical-align: baseline;
  line-height: 1.4;
  font-size: 16px;
}
.edp-plan-lists .edp-plan-list .edp-plan-list-currency {
  margin-right: 3px;
}
.edp-plan-lists .edp-plan-list.edp-plan-list-custom-input .edp-plan-list-text {
  padding: 0;
  font-size: 14px;
  margin-right: 15px;
  line-height: 40px;
  white-space: nowrap;
}
.edp-plan-lists .edp-plan-list .edp-plan-list-price {
  font-size: 41px;
  line-height: 1;
}
.edp-plan-lists .edp-plan-list .edp-plan-list-form-field input[type="text"] {
  background: 0 0;
  border: 0;
  font-size: 24px;
  outline: 0 !important;
  width: 97%;
  font-weight: 400;
  padding: 0 13px 0 2px;
  height: 42px;
  line-height: 42px;
  color: #333;
}
.edp-plan-lists .edp-plan-list .edp-plan-list-form-field input.is-empty {
  font-size: 18px;
}

.edp-donation-amounts {
  margin-top: 40px;
}
.edp-donation-amounts .edp-donation-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 15px;
  max-width: 660px;
  margin-bottom: 7px;
}
.edp-donation-amounts .edp-donation-amount .form-column {
  width: 57%;
}
.edp-donation-amounts .edp-donation-amount .form-column:nth-child(2n) {
  width: 40%;
}
.edp-donation-amounts .edp-donation-amount .form-column .form-row-title {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 1.2;
}
.edp-donation-amounts .edp-donation-amount .form-column .form-row-title strong {
  font-size: 15px;
  font-weight: 700;
}

.edp-input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  gap: 24px;
}
.edp-input-fields .edp-field-full {
  width: 100%;
}
@media (min-width: 768px) {
  .edp-input-fields .edp-field-50 {
    width: calc(100% / 2 - 16px);
  }
}
.edp-input-fields .edp-input-checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
}
.edp-input-fields .edp-input-checkbox input[type="checkbox"],
.edp-input-fields .edp-input-checkbox input[type="radio"] {
  width: 24px;
  height: 24px;
}

/* PAYMENT CALLBACK MODAL START */
.edp-callback-modal .edp-modal-content {
  text-align: center;
  padding: 30px 0;
}
.edp-callback-modal .edp-modal-content .edp-modal-icon {
  margin-bottom: 24px;
}
.edp-callback-modal .edp-modal-content .edp-modal-icon .feather-check-circle {
  color: green;
}
.edp-callback-modal .edp-modal-content .edp-modal-icon .feather-x-circle {
  color: red;
}
.edp-callback-modal h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
/* PAYMENT CALLBACK MODAL END */